For this part of the assignment, I will be using regular python to clean and analyze the data just as I did in part a

In [1]:
import csv

In [2]:
filename = 'Citywide_Payroll_Data__Fiscal_Year_.csv'

In [3]:
payroll = []

In [4]:
with open(filename, 'r') as csvfile:
    
    csvreader = csv.reader(csvfile)
    
    for row in csvreader:
        payroll.append(row)

In [5]:
fields = payroll.pop(0)

In [6]:
fields

['Fiscal Year',
 'Payroll Number',
 'Agency Name',
 'Last Name',
 'First Name',
 'Mid Init',
 'Agency Start Date',
 'Work Location Borough',
 'Title Description',
 'Leave Status as of June 30',
 'Base Salary',
 'Pay Basis',
 'Regular Hours',
 'Regular Gross Paid',
 'OT Hours',
 'Total OT Paid',
 'Total Other Pay']

In [7]:
## now I will rename some columns

fields[7] = 'Work Location'
fields[9] = 'Leave Status'

In [8]:
fields

['Fiscal Year',
 'Payroll Number',
 'Agency Name',
 'Last Name',
 'First Name',
 'Mid Init',
 'Agency Start Date',
 'Work Location',
 'Title Description',
 'Leave Status',
 'Base Salary',
 'Pay Basis',
 'Regular Hours',
 'Regular Gross Paid',
 'OT Hours',
 'Total OT Paid',
 'Total Other Pay']

In [9]:
## now I will get rid of some columns as I did in part A

unwanted = [0, 1, 5, 6]

fields = [fields[i] for i in range(len(fields)) if i not in unwanted]

In [10]:
fields

['Agency Name',
 'Last Name',
 'First Name',
 'Work Location',
 'Title Description',
 'Leave Status',
 'Base Salary',
 'Pay Basis',
 'Regular Hours',
 'Regular Gross Paid',
 'OT Hours',
 'Total OT Paid',
 'Total Other Pay']

In [11]:
for i, row in enumerate(payroll):
    
    payroll[i] = [row[x] for x in range(len(row)) if x not in unwanted]

In [12]:
payroll[0:3]

[['POLICE DEPARTMENT',
  'KYLE',
  'ROBERT',
  'MANHATTAN',
  'POLICE OFFICER',
  'CEASED',
  '85292.00',
  'per Annum',
  '1034.28',
  '43697.19',
  '0',
  '-563.90',
  '11083.10'],
 ['POLICE DEPARTMENT',
  'DONZO',
  'MOHAMMED',
  'MANHATTAN',
  'POLICE OFFICER',
  'CEASED',
  '85292.00',
  'per Annum',
  '1314.28',
  '55147.19',
  '0',
  '-537.22',
  '13143.56'],
 ['POLICE DEPARTMENT',
  'INFANZON',
  'GRETCHEN',
  'MANHATTAN',
  'POLICE OFFICER',
  'ON LEAVE',
  '85292.00',
  'per Annum',
  '1742.87',
  '60527.31',
  '0',
  '-537.10',
  '8980.93']]

In [13]:
## Now I will attempt to remove employees who are not active and not on a per Annum basis
status_in = 5
basis_in = 7

In [14]:
## this takes some time to run
j = 0


while (j < len(payroll)):  
    if payroll[j][status_in] != 'ACTIVE' or payroll[j][basis_in] != 'per Annum':     
        payroll.pop(j)
    else:
        j += 1

In [15]:
len(payroll)

298096

In [16]:
payroll[0:3]

[['POLICE DEPARTMENT',
  'CORTIELLA',
  'LINA',
  'BROOKLYN',
  'POLICE ADMINISTRATIVE AIDE',
  'ACTIVE',
  '40514.00',
  'per Annum',
  '1790',
  '40402.96',
  '0',
  '-23.08',
  '1814.33'],
 ['POLICE DEPARTMENT',
  'TORRES',
  'NAYELI',
  'BRONX',
  'POLICE ADMINISTRATIVE AIDE',
  'ACTIVE',
  '41683.00',
  'per Annum',
  '1636',
  '32340.12',
  '0',
  '-19.24',
  '701.29'],
 ['POLICE DEPARTMENT',
  'MARTIN',
  'GARY',
  'BRONX',
  'POLICE OFFICER',
  'ACTIVE',
  '85292.00',
  'per Annum',
  '2045.72',
  '85058.22',
  '1.33',
  '-15.97',
  '22046.66']]

Now the last part to the cleaning is to remove all the regular hours that are less than or equal to 0 and to convert
strings to floats for numeric values

In [17]:
zeros = 0
hours_in = fields.index('Regular Hours')
for row in payroll:
    if float(row[hours_in]) <= 0:
        row[hours_in] = '2087'

In [18]:
for row in payroll:
    if float(row[hours_in]) <= 0:
        zeros += 1
zeros

0

In [19]:
float_in = [6, 8, 9, 10, 11, 12]
for row in payroll:
    for i in float_in:
        row[i] = float(row[i])

In [20]:
payroll[0:3]

[['POLICE DEPARTMENT',
  'CORTIELLA',
  'LINA',
  'BROOKLYN',
  'POLICE ADMINISTRATIVE AIDE',
  'ACTIVE',
  40514.0,
  'per Annum',
  1790.0,
  40402.96,
  0.0,
  -23.08,
  1814.33],
 ['POLICE DEPARTMENT',
  'TORRES',
  'NAYELI',
  'BRONX',
  'POLICE ADMINISTRATIVE AIDE',
  'ACTIVE',
  41683.0,
  'per Annum',
  1636.0,
  32340.12,
  0.0,
  -19.24,
  701.29],
 ['POLICE DEPARTMENT',
  'MARTIN',
  'GARY',
  'BRONX',
  'POLICE OFFICER',
  'ACTIVE',
  85292.0,
  'per Annum',
  2045.72,
  85058.22,
  1.33,
  -15.97,
  22046.66]]

In [21]:
## Now that the data is clean, let us add the hourly pay and total hours worked

In [22]:
fields += ['Hourly Pay', 'Total Hours']

In [23]:
fields

['Agency Name',
 'Last Name',
 'First Name',
 'Work Location',
 'Title Description',
 'Leave Status',
 'Base Salary',
 'Pay Basis',
 'Regular Hours',
 'Regular Gross Paid',
 'OT Hours',
 'Total OT Paid',
 'Total Other Pay',
 'Hourly Pay',
 'Total Hours']

In [24]:
for row in payroll:
    
    row.append(row[6] / row[8])
    row.append(row[8] + row[10])

In [25]:
payroll[0:3]

[['POLICE DEPARTMENT',
  'CORTIELLA',
  'LINA',
  'BROOKLYN',
  'POLICE ADMINISTRATIVE AIDE',
  'ACTIVE',
  40514.0,
  'per Annum',
  1790.0,
  40402.96,
  0.0,
  -23.08,
  1814.33,
  22.633519553072627,
  1790.0],
 ['POLICE DEPARTMENT',
  'TORRES',
  'NAYELI',
  'BRONX',
  'POLICE ADMINISTRATIVE AIDE',
  'ACTIVE',
  41683.0,
  'per Annum',
  1636.0,
  32340.12,
  0.0,
  -19.24,
  701.29,
  25.478606356968214,
  1636.0],
 ['POLICE DEPARTMENT',
  'MARTIN',
  'GARY',
  'BRONX',
  'POLICE OFFICER',
  'ACTIVE',
  85292.0,
  'per Annum',
  2045.72,
  85058.22,
  1.33,
  -15.97,
  22046.66,
  41.692900299161174,
  2047.05]]

Now to calculate my descriptive statistics, it may be a little difficult, but I will attempt this using some dictionaries

In [26]:
pay_dict = {} ## dictionary whose values are a list of all hourly pay rates at for each dept
hours_dict = {} ## dictionary whose values are a list of all of hours worked for each dept
dept_dict = {} ## dictionary whose values are the number of employees in the dept
loc_dict = {} ## dictionary whose values are a list of all employees in each location

In [27]:
for row in payroll:
    
    if row[0] not in pay_dict:
        
        pay_dict[row[0]] = []
        hours_dict[row[0]] = []
        dept_dict[row[0]] = 0
        
    pay_dict[row[0]].append(row[13])
    hours_dict[row[0]].append(row[14])
    dept_dict[row[0]] += 1

for row in payroll:
    
    if row[3] not in loc_dict:
        loc_dict[row[3]] = 0
    loc_dict[row[3]] += 1

In [28]:
## I will use the built-in statistics module for python

import statistics as stat

In [29]:
## These dictionaries essentially will create the Series for the descriptive stats like in part a

mean_sal_data = {}
med_sal_data = {}
min_sal_data = {}
max_sal_data = {}

mean_hour_data = {}
med_hour_data = {}
min_hour_data = {}
max_hour_data = {}

In [30]:
for key in pay_dict:
    
    mean_sal_data[key] = stat.mean(pay_dict[key])
    med_sal_data[key] = stat.median(pay_dict[key])
    min_sal_data[key] = min(pay_dict[key])
    max_sal_data[key] = max(pay_dict[key])

    mean_hour_data[key] = stat.mean(hours_dict[key])
    med_hour_data[key] = stat.median(hours_dict[key])
    min_hour_data[key] = min(hours_dict[key])
    max_hour_data[key] = max(hours_dict[key])

In [31]:
## a1_sorted_keys = sorted(a1, key=a1.get, reverse=True)

sorted_mean_sal_keys = sorted(mean_sal_data, key=mean_sal_data.get, reverse=True)
sorted_med_sal_keys = sorted(med_sal_data, key=med_sal_data.get, reverse=True)
sorted_min_sal_keys = sorted(min_sal_data, key=min_sal_data.get, reverse=True)
sorted_max_sal_keys = sorted(max_sal_data, key=max_sal_data.get, reverse=True)

In [32]:
sorted_mean_hour_keys = sorted(mean_hour_data, key=mean_hour_data.get, reverse=True)
sorted_med_hour_keys = sorted(med_hour_data, key=med_hour_data.get, reverse=True)
sorted_min_hour_keys = sorted(min_hour_data, key=min_hour_data.get, reverse=True)
sorted_max_hour_keys = sorted(max_hour_data, key=max_hour_data.get, reverse=True)

In [33]:
print("Top 10 mean salaries:")
for i in range(10):
    print(sorted_mean_sal_keys[i], mean_sal_data[sorted_mean_sal_keys[i]])

Top 10 mean salaries:
BRONX COMMUNITY BOARD #8 375.3285182229316
COMMUNITY COLLEGE (MANHATTAN) 179.60232326080802
COMMUNITY COLLEGE (QUEENSBORO) 170.81177825418382
COMMUNITY COLLEGE (KINGSBORO) 163.28917477154067
COMMUNITY COLLEGE (LAGUARDIA) 156.9612504197413
COMMUNITY COLLEGE (BRONX) 156.73052009306696
GUTTMAN COMMUNITY COLLEGE 153.17556199068275
COMMUNITY COLLEGE (HOSTOS) 150.99332760370544
BROOKLYN COMMUNITY BOARD #6 138.29603617983508
OFFICE OF THE MAYOR 119.36212500674118

In [34]:
print("Top 10 median salaries:")
for i in range(10):
    print(sorted_med_sal_keys[i], med_sal_data[sorted_med_sal_keys[i]])

Top 10 median salaries:
MANHATTAN COMMUNITY BOARD #8 77.00694039919743
COMMUNITY COLLEGE (MANHATTAN) 70.40273972602739
OFFICE OF COLLECTIVE BARGAININ 65.59776536312849
GUTTMAN COMMUNITY COLLEGE 64.17534246575343
FINANCIAL INFO SVCS AGENCY 63.78100558659218
COMMUNITY COLLEGE (QUEENSBORO) 61.824444444444445
BRONX COMMUNITY BOARD #3 59.840782122905026
BRONX COMMUNITY BOARD #1 59.594692737430165
HUNTER COLLEGE HIGH SCHOOL 59.09841835342115
EQUAL EMPLOY PRACTICES COMM 56.38715083798883

In [35]:
print("Top 10 max salaries:")
for i in range(10):
    print(sorted_max_sal_keys[i], max_sal_data[sorted_max_sal_keys[i]])

Top 10 max salaries:
DEPT OF ENVIRONMENT PROTECTION 8835.2
OFFICE OF THE MAYOR 4285.714285714285
FINANCIAL INFO SVCS AGENCY 3714.285714285714
FIRE DEPARTMENT 3714.285714285714
NYC EMPLOYEES RETIREMENT SYS 3714.285714285714
CITY COUNCIL 3619.714285714286
HOUSING PRESERVATION & DVLPMNT 3571.4285714285716
POLICE DEPARTMENT 3540.785714285714
DEPARTMENT OF EDUCATION ADMIN 3428.5714285714284
OFF OF PAYROLL ADMINISTRATION 3142.8571428571427

In [36]:
print("Top 10 min salaries:")
for i in range(10):
    print(sorted_min_sal_keys[i], min_sal_data[sorted_min_sal_keys[i]])

Top 10 min salaries:
MANHATTAN COMMUNITY BOARD #8 59.216192937123175
STATEN ISLAND COMMUNITY BD #2 51.792564245810055
BRONX COMMUNITY BOARD #3 46.64804469273743
BRONX COMMUNITY BOARD #1 43.68156424581006
BRONX COMMUNITY BOARD #12 41.63296089385475
BROOKLYN COMMUNITY BOARD #10 40.493854748603354
MANHATTAN COMMUNITY BOARD #6 39.63133640552996
QUEENS COMMUNITY BOARD #14 39.03240223463687
MANHATTAN COMMUNITY BOARD #1 36.82905027932961
QUEENS COMMUNITY BOARD #11 36.40782122905028

In [37]:
print("Top 10 mean hours:")
for i in range(10):
    print(sorted_mean_hour_keys[i], mean_hour_data[sorted_mean_hour_keys[i]])

Top 10 mean hours:
DEPARTMENT OF SANITATION 2304.934521522992
FIRE DEPARTMENT 2285.609741554256
DEPARTMENT OF CORRECTION 2210.408969141512
POLICE DEPARTMENT 2173.8321833133323
DEPT OF ED PARA PROFESSIONALS 2087.0
DEPT OF ED PEDAGOGICAL 2087.0
NYC HOUSING AUTHORITY 2004.7277628205127
BOARD OF ELECTION 2000.1283208955224
DEPARTMENT OF TRANSPORTATION 1937.0200689274884
DEPT OF CITYWIDE ADMIN SVCS 1921.8831056563502

In [38]:
print("Top 10 median hours:")
for i in range(10):
    print(sorted_med_hour_keys[i], med_hour_data[sorted_med_hour_keys[i]])

Top 10 median hours:
DEPARTMENT OF SANITATION 2357.72
FIRE DEPARTMENT 2342.6850000000004
DEPARTMENT OF CORRECTION 2280.5699999999997
POLICE DEPARTMENT 2213.2200000000003
DEPT OF ED PARA PROFESSIONALS 2087.0
DEPT OF ED PEDAGOGICAL 2087.0
BOARD OF ELECTION 2026.0
NYC HOUSING AUTHORITY 1985.095
DEPT. OF HOMELESS SERVICES 1919.0
DEPARTMENT OF PROBATION 1917.85

In [39]:
print("Top 10 max hours:")
for i in range(10):
    print(sorted_max_hour_keys[i], max_hour_data[sorted_max_hour_keys[i]])

Top 10 max hours:
DEPARTMENT OF CORRECTION 4537.42
DEPT OF CITYWIDE ADMIN SVCS 4505.45
ADMIN FOR CHILDREN'S SVCS 4381.72
DEPARTMENT OF BUILDINGS 4341.92
FIRE DEPARTMENT 3926.9700000000003
DISTRICT ATTORNEY-MANHATTAN 3797.25
DEPT. OF HOMELESS SERVICES 3787.9700000000003
DISTRICT ATTORNEY KINGS COUNTY 3756.7200000000003
COMMUNITY COLLEGE (MANHATTAN) 3722.4700000000003
NYC HOUSING AUTHORITY 3568.97

In [40]:
print("Top 10 min hours:")
for i in range(10):
    print(sorted_min_hour_keys[i], min_hour_data[sorted_min_hour_keys[i]])

Top 10 min hours:
DEPT OF ED PARA PROFESSIONALS 2087.0
DEPT OF ED PEDAGOGICAL 2087.0
BROOKLYN COMMUNITY BOARD #13 1792.0
PUBLIC ADMINISTRATOR-RICHMOND 1790.0
STATEN ISLAND COMMUNITY BD #2 1790.0
STATEN ISLAND COMMUNITY BD #1 1790.0
BROOKLYN COMMUNITY BOARD #16 1790.0
BROOKLYN COMMUNITY BOARD #14 1790.0
BROOKLYN COMMUNITY BOARD #12 1790.0
BROOKLYN COMMUNITY BOARD #11 1790.0

In [41]:
sorted_dept_keys = sorted(dept_dict, key=dept_dict.get, reverse=True)
sorted_loc_keys = sorted(loc_dict, key=loc_dict.get, reverse=True)

In [42]:
print("Top 10 departments by number of employees:")
for i in range(10):
    print(sorted_dept_keys[i], dept_dict[sorted_dept_keys[i]])

Top 10 departments by number of employees:
DEPT OF ED PEDAGOGICAL 94686
POLICE DEPARTMENT 50831
DEPT OF ED PARA PROFESSIONALS 25127
FIRE DEPARTMENT 16754
HRA/DEPT OF SOCIAL SERVICES 12820
DEPARTMENT OF CORRECTION 11893
DEPARTMENT OF EDUCATION ADMIN 11321
DEPARTMENT OF SANITATION 8851
NYC HOUSING AUTHORITY 7800
ADMIN FOR CHILDREN'S SVCS 6502

In [43]:
print("Top 10 locations by number of employees:")
for i in range(10):
    print(sorted_loc_keys[i], loc_dict[sorted_loc_keys[i]])

Top 10 locations by number of employees:
MANHATTAN 181399
QUEENS 44015
BROOKLYN 37648
BRONX 20892
OTHER 7519
RICHMOND 5561
WESTCHESTER 479
ULSTER 279
SULLIVAN 110
DELAWARE 77

Challenges/ Compare and Contrast:

When using python, I would say that it was more challenging in the fact that you had to go row by row in the 2D array. For example it took a couple of tries to delete rows, and was slow and inefficient compared to pandas. In addition, nothing could be done in one line as with pandas, which again meant that you had to think on a more algorithmic/logical level. However, the code wasn't too extensive relative to pandas. Another challenge, was visualizing the data to make sure everything was right a going well, regular python does make this much harder to do.